<div id="content-container">
    <div id="page-content">
        <div class="row">
            <div class="col-lg-12">

                <div id="demo-panel-network" class="panel">
                    <div class="panel-heading">
                        <div class="panel-control">
                            <button id="demo-panel-network-refresh" class="btn btn-default btn-active-primary" data-toggle="panel-overlay" data-target="#demo-panel-network"><i class="demo-psi-repeat-2"></i></button>
                            <div class="dropdown">
                                <button class="dropdown-toggle btn btn-default btn-active-primary" data-toggle="dropdown" aria-expanded="false"><i class="demo-psi-dot-vertical"></i></button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                        </div>
                        <h3 class="panel-title">
                            <ol class="breadcrumb">
                                <li><a><i class="demo-pli-home"></i></a></li>
                                <li class="active">Datos Paciente</li>
                            </ol>
                        </h3>

                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <label for="x">N° de Orden</label>
                                <div class="input-group mar-btm">
                                    <span class="input-group-addon"><i class="demo-pli-list-view"></i></span>
                                    <input type="text" id="x" class="form-control">

                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="x">Nombre Paciente</label>
                                <div class="input-group mar-btm">
                                    <span class="input-group-addon"><i class="demo-pli-male"></i></span>
                                    <input type="text" id="x" class="form-control">

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <label for="x">Telefono</label>
                                <div class="input-group mar-btm">
                                    <span class="input-group-addon"><i class="demo-pli-add-user-star"></i></span>
                                    <input type="text" id="x" class="form-control">

                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="x">Correo Electronico</label>
                                <div class="input-group mar-btm">
                                    <span class="input-group-addon"><i class="demo-pli-mail"></i></span>
                                    <input type="text" id="x" class="form-control">

                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <label for="x">Dr. Solicitante</label>
                                <div class="input-group mar-btm">
                                    <span class="input-group-addon"><i class="demo-pli-male"></i></span>
                                    <input type="text" id="x" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="x">Tiempo estimado OT</label>
                                <div class="input-group mar-btm">
                                    <span class="input-group-addon"><i class="demo-pli-gear"></i></span>
                                    <input type="text" id="x" class="form-control">

                                </div>
                            </div>




                        </div>

                        <div class="row">
                            <div class=" pad-top">
                                <div class="text-lg">
                                    <div class="bord-top pad-ver">
                                        <!-- The fileinput-button span is used to style the file input field as button -->
                                        <span class="btn btn-primary fileinput-button dz-clickable">
                                            <i class="fa fa-plus"></i>
                                            <span>Cargar Imagen...</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-5">

            </div>
        </div>
        <div class="panel">
            <div class="panel-body  clearfix">
                <div class="panel-heading">
                    <div class="panel-control">
                        <button id="demo-panel-network-refresh" class="btn btn-default btn-active-primary" data-toggle="panel-overlay" data-target="#demo-panel-network"><i class="demo-pli-printer"></i></button>
                        <div class="dropdown">
                            <button class="dropdown-toggle btn btn-default btn-active-primary" data-toggle="dropdown" aria-expanded="false"><i class="demo-psi-dot-vertical"></i></button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </div>

                    <h3 class="panel-title">
                        <ol class="breadcrumb">
                            <li><a><i class="demo-pli-home"></i></a></li>
                            <li class="active">Item OT</li>
                        </ol>
                    </h3>
                </div>

                <hr />
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <label for="xs">Tipo de Trabajo</label>
                        <div class="input-group mar-btm">
                            <span class="input-group-addon"><i class="demo-psi-repair"></i></span>
                            <select id="demo-cs-multiselect" data-placeholder="Seleccione Trabajo" multiple tabindex="4">
                                <option value="Trabajo 1">Trabajo 1</option>
                                <option value="Trabajo 2">Trabajo 2</option>
                                <option value="Trabajo 3">Trabajo 3</option>
                                <option value="Trabajo 4">Trabajo 4</option>
                                <option value="Trabajo 5">Trabajo 5</option>
                                <option value="Trabajo 6">Trabajo 6</option>
                                <option value="Trabajo 7">Trabajo 7</option>
                                <option value="Trabajo 8">Trabajo 8</option>
                                <option value="Trabajo 9">Trabajo 9</option>
                                <option value="Trabajo 10">Trabajo 10</option>
                                <option value="Trabajo 11">Trabajo 11</option>
                                <option value="Trabajo 12">Trabajo 12</option>
                                <option value="Trabajo 13">Trabajo 13</option>
                                <option value="Otro">Otro</option>
                            </select>

                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <label for="x">Descripción</label>
                        <div class="input-group mar-btm">
                            <span class="input-group-addon"><i class="demo-pli-information"></i></span>
                            <input type="text" id="x" class="form-control">

                        </div>
                    </div>
                </div>




                <div class="col-lg-12 table-responsive">
                    <table class="table table-bordered invoice-summary">
                        <thead>
                            <tr class="bg-trans-dark">
                                <th class="text-uppercase">Descripción</th>
                                <th class="min-col text-center text-uppercase">Precio</th>
                                <th class="min-col text-right text-uppercase">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <strong>Trabajo 1</strong>
                                    <small>Descripción de Trabajo.</small>
                                </td>
                                <td class="text-center">$50.000</td>
                                <td class="text-right">$50.000</td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Trabajo 4</strong>
                                    <small>Descripción de Trabajo.</small>
                                </td>
                                <td class="text-center">$25.000</td>
                                <td class="text-right">$25.000</td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Trabajo 6</strong>
                                    <small>Descripción de Trabajo.</small>
                                </td>
                                <td class="text-center">$35.000</td>
                                <td class="text-right">$35.000</td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Trabajo 2</strong>
                                    <small>Descripción de Trabajo.</small>
                                </td>
                                <td class="text-center">$40.000</td>
                                <td class="text-right">$40.000</td>
                            </tr>
                        </tbody>
                    </table>
                </div>



                <div class="col-sm-12 pad-top">
                    <div class="text-lg">


                        <hr>
                        <div class="clearfix">
                            <table class="table invoice-total">
                                <tbody>
                                    <tr>
                                        <td><strong>Sub Total :</strong></td>
                                        <td>$155.000</td>
                                    </tr>
                                    <tr>
                                        <td><strong>TOTAL :</strong></td>
                                        <td class="text-bold h4">$155.000</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="text-right no-print">
                            <a href="javascript:window.print()" class="btn btn-default"><i class="demo-pli-printer icon-lg"></i></a>
                            <a href="#" class="btn btn-primary">Confirmar Pago</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>